/* MAIN */

/* JUMBOTRON */
main {
    height: auto;
    position: relative;
}

.jumbotron {
    background-image: url('/public/image/slider82x-scaled.jpg');
    background-size: cover;
    object-fit: contain;
    height: 700px;
    width: 100%;

}

.jumbotron-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jumbotron-text {
    background: linear-gradient(90deg, rgba(6, 6, 7, 1) 85%, rgba(6, 6, 7, 0.577468487394958) 98%, rgba(6, 6, 7, 0) 100%);
    height: 700px;
    width: 67%;
    padding-left: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    >h1 {
        font-size: 60px;
    }

    >.red {
        font-size: 20px;
        color: #ff414b;
    }

    >.trasp {
        color: #98939f;
    }

    >.wave {
        color: #fff941;
        font-size: 40px;
    }
}


.light-b {
    width: 25%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: none;
    margin-right: 30px;
    background-color: #4154FF;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.light-b:hover {
    background-color: #5a6afc;
}

.dark-b {
    width: 20%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border-color: white;
    margin-right: 50px;
    background-color: #060607;
    color: white;
    cursor: pointer;
}

.dark-b:hover {
    border-color: #ff414b;

    >a {
        color: #ff414b;
    }
}

.jumbotron-images {
    display: flex;
    flex-direction: column;
}

.jumbotron-images img {
    width: 50px;
    margin-bottom: 10px;
}

.play-button{
    position: absolute;
    top: 250px;
    left: 1400px;

    >i{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4154FF;
        font-size: 20px;
        position: absolute;
        height: 100px;
        width: 100px;
         border-radius: 50%;

    }
}




/* TRAINING */
#training {
    background: linear-gradient(to bottom right, blue, purple, red);
    height: 950px;
    display: flex;
    flex-direction: column;
}

.training-img {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    >img {
        display: block;
        width: calc((100% /3) - 30px);
        border-bottom-right-radius: 50px;
        position: relative;
        top: -90px;

    }
}

.text-img {
    position: relative;
    top: -623px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc((100% /3) - 30px);
}

.text-contenitor {
    background: linear-gradient(0deg, rgba(6, 6, 7, 1) 0%, rgba(6, 6, 7, 0.6054796918767507) 42%);
    height: 503px;
    padding-left: 30px;
    padding-top: 330px;
    border-bottom-right-radius: 50px;

    >span {
        font-size: 40px;
    }

    >h4 {
        font-size: 30px;
    }

    >p {
        font-size: 20px;
        color: #fff941;
    }
}

.form {
    width: 50%;
    margin: 0px auto;
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -500px;
}

.testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    >img {
        display: block;
        width: 10%;
        border-radius: 100%;
        margin-right: 20px;
    }
}

/* HEALTH */
#health {
    background-color: white;
    height: 1500px;
}

.health-contanitor {
    display: flex;
    align-items: center;
}

.left-health {
    width: calc(100% / 2);
    margin-right: 0px;
    text-align: center;

    >img {
        display: block;
        width: 85%;
        border-bottom-right-radius: 110px;
        position: relative;
        top: -50px;
    }

    >span {
        font-size: 70px;
        position: relative;
        top: -500px;
        left: -50px;
        background-color: white;
        border-radius: 70%;
        height: 50px;
    }
}

.right-health {
    width: 850px;
    margin-top: -50px;
    padding-right: 90px;
    text-align: start;

    >.tune {
        color: #4154FF;
        font-size: 20px;

    }

    >h4 {
        font-size: 50px;
        margin-top: 20px;
    }

    >.arcu {
        color: #858586;
        font-size: 20px;
        margin-bottom: 20px;
    }

    >button {
        background-color: #ff414b;
        color: white;
        width: 30%;
        height: 40px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }

    >button:hover {
        background-color: #ff000d;
    }
}

.form {
    >.wave {
        color: #fff941;
        font-size: 40px;
    }
}

.text-featured {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    >h5 {
        font-size: 20px;
    }

    >p {
        padding-right: 50px;
        font-weight: bold;
    }
}

.wrap-featured {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}

.featured-video {
    width: calc((100% / 3) - 40px);
    text-align: center;

    >img {
        display: block;
        width: 100%;
        border-bottom-right-radius: 50px;
    }

    >button {
        font-size: 40px;
        position: relative;
        bottom: 170px;

    }

    >p {
        color: #4154FF;
        padding-top: 20px;
        cursor: pointer;
    }

    >p:hover {
        font-size: 18px;
    }
}

.name {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.city {
    color: #98939f;
    font-weight: bold;
    font-size: 22px;
    margin-left: 20px;
}

.health-button{
    display: inline-block;

    >i{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4154FF;
        font-size: 20px;
        position: absolute;
        height: 100px;
        width: 100px;
         border-radius: 50%;

    }
}

.featured-button{
    position: relative;
    bottom: 200px;
    left: 200px;

    >i{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4154FF;
        font-size: 20px;
        position: absolute;
        height: 50px;
        width: 50px;
         border-radius: 50%;

    }
}

/* JOIN */
#join {
    height: 100%;
    background-color: #060607;
}

.join-jumbotron {
    background-image: url('/public/image/banner1-2x.jpg');
    background-size: cover;
    object-fit: contain;
    height: 700px;
    width: 100%;
}

.join-email {
    width: 65%;
    height: 40px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin-right: 20px;

}

#join-text {
    padding: 0 0px;
}

.jumbotron-text {
    >p {
        margin-top: 20px;
        color: #98939f;
        padding-right: 150px;
    }
}

/* LEARN */
#learn {
    background-color: #060607;
    height: auto;
}

.learn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 0;

}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
    width: calc((100% / 3) - 50px);
    color: white;
    border: solid 2px #4154FF;

    >h5 {
        font-size: 20px;
    }

    >.card-text {
        color: #fff941;
        margin-top: 5px;
    }

    >p {
        margin-bottom: 50px;
    }
}

.icon-learn {
    >i {
        font-size: 50px;
        color: white;
        margin-bottom: 30px;
    }
}

.light-inf {
    color: #98939f;
}

.card-text {
    margin-bottom: 50px;
}

/* LATEST */
#latest {
    height: auto;
}

.wrap-latest {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 0;

}

.latest-img {
    width: calc((100% / 3) - 40px);
    text-align: center;

    >img {
        display: block;
        width: 100%;
        border-bottom-right-radius: 50px;
        padding-bottom: 30px;
    }

    >p {
        color: #98939f;
        padding-top: 20px;

    }
}

.text-latest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

    >h5 {
        font-size: 20px;
    }

    >p {
        padding-right: 50px;
        font-weight: bold;
        cursor: pointer;
    }

    p:hover {
        margin-right: 10px;
    }
}

/* BUY AVADA */
.buy-jumbotron {
    background-image: url('/public/image/banner2-2x.jpg');
    background-size: cover;
    object-fit: contain;
    height: 700px;
    width: 100%;
}

.buy-avada-text {
    background: linear-gradient(0deg, rgba(6, 6, 7, 1) 0%, rgba(6, 6, 7, 0.6054796918767507) 42%);
    height: 100%;
    width: 100%;
    padding-left: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding: 0 575px;

    >h1 {
        font-size: 40px;
    }

    >.red {
        font-size: 20px;
        color: #ff414b;
    }

    >.trasp {
        color: #98939f;
    }

    >.wave {
        color: #fff941;
        font-size: 40px;
    }
}

.lighter-b {
    width: 25%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: none;
    margin-right: 30px;
    background-color: #4154FF;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.lighter-b:hover {
    background-color: #5a6afc;

    >i {
        margin-left: 10px;
    }
}

/* CLASS */
#class {
    height: 500px;
}

.class-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.class-body {
    margin: 70px 0;
    width: calc((100% / 4) - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;

    >img {
        width: 50%;
        margin-bottom: 30px;
    }

    >span {
        color: #4154FF;
        font-size: 30px;
        margin-bottom: 20px;
    }

    >p {
        color: #98939f;
    }
}

.dark-class {
    color: #060607;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
}

.dark-class:hover {
    font-size: 18px;

    >i {
        margin-left: 10px;
    }
}

/* CROSSFIT */
.crossfit-jumbotron {
    background-image: url('/public/image/banner14-2x\ -\ Copia.jpg');
    background-size: cover;
    object-fit: contain;
    height: 700px;
    width: 100%;

}

.crossfit-text {
    background: linear-gradient(150deg, rgba(0, 0, 255, 0.6530987394957983) 0%, rgba(100, 0, 110, 0.4962359943977591) 84%, rgba(172, 0, 0, 0.3981967787114846) 100%);
    height: 100%;
    width: 100%;
    padding-left: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 575px;

    >span {
        font-size: 100px;
        margin-bottom: 30px;
    }

    >h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    >h2 {
        font-size: 30px;
        color: #fff941;
        margin-bottom: 20px;
    }

    >.white-cross {
        color: white;
        cursor: pointer;
    }
}

.white-cross:hover {
    >i {
        margin-left: 10px;
    }
}

.crossfit-button{
    

    >i{
        background-color: white;
        color: #4154FF;
        font-size: 30px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display:flex;
        align-items: center;
        justify-content: center;
    }

}