* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.j-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.unstyled {
  list-style: none;
}

.g-2 {
  gap: 2rem;
}

.play {
  color: #ff414b;
  cursor: pointer;
  border: none;
}

@import url('./assets/css/_header.css');
@import url('./assets/css/_main.css');
@import url('./assets/css/_footer.css');




