* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.j-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.unstyled {
  list-style: none;
}

.g-2 {
  gap: 2rem;
}

.play {
  color: red;
  cursor: pointer;
  border: none;
}

body {
  background-color: #060607;
}

/* Header */
header {
  height: 100px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  gap: 1.5rem;

}

ul li a {
  display: flex;
  text-decoration: none;
  color: rgb(161, 161, 161);
  font-size: 17px;
  font-weight: bold;
}

ul li a:hover {
  color: white;
  font-size: 18.5px;
}

span a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  background-color: yellow;
  padding: 3px 3px;
  margin: 0 20px 0 5px;
}

button a {
  text-decoration: none;
  color: white;
}

.workout {
  background-color: #4154FF;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 160px;
  height: 40px;
  margin-top: -12px;
  font-weight: bold;
}

/* MAIN */

/* JUMBOTRON */
main {
  height: auto;
  position: relative;
}

.jumbotron {
  background-image: url('/public/image/slider82x-scaled.jpg');
  background-size: cover;
  object-fit: contain;
  height: 700px;
  width: 100%;

}

.jumbotron-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jumbotron-text {
  background: linear-gradient(to right, rgb(6, 6, 7) 76%, rgba(3, 3, 3, 0.836) 25%, rgba(3, 3, 3, 0.096)10%);
  height: 700px;
  width: 63%;
  padding-left: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  >h1 {
    font-size: 70px;
  }

  >.red {
    font-size: 20px;
    color: red;
  }

  >.trasp {
    color: rgba(255, 255, 255, 0.473);
  }

  >.wave {
    color: yellow;
    font-size: 40px;
  }
}


.light-b {
  width: 25%;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  border: none;
  margin-right: 30px;
  background-color: #4154FF;
  color: white;
  margin-top: 20px;
}

.dark-b {
  width: 20%;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  border-color: white;
  margin-right: 50px;
  background-color: #060607;
  color: white;
}



.jumbotron-images {
  display: flex;
  flex-direction: column;
}

.jumbotron-images img {
  width: 50px;
  margin-bottom: 10px;
}




/* TRAINING */
#training {
  background: linear-gradient(to bottom right, blue, purple, red);
  height: 950px;
  display: flex;
  flex-direction: column;
}

.training-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  >img {
    display: block;
    width: calc((100% /3) - 30px);
    border-bottom-right-radius: 50px;
    position: relative;
    top: -90px;

  }
}

.text-img {
  position: relative;
  top: -623px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc((100% /3) - 30px);
}

.text-contenitor {
  background: linear-gradient(to bottom, rgba(6, 6, 7, 0.31), rgba(6, 6, 7, 0.11));
  height: 503px;
  padding-left: 30px;
  padding-top: 330px;
  border-bottom-right-radius: 50px;

  >span {
    font-size: 40px;
  }

  >h4 {
    font-size: 30px;
  }

  >p {
    font-size: 20px;
    color: yellow;
  }
}

.form {
  width: 50%;
  margin: 0px auto;
  color: white;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -500px;
}

.testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  >img {
    display: block;
    width: 10%;
    border-radius: 100%;
    margin-right: 20px;
  }
}

/* HEALTH */
#health {
  background-color: white;
  height: 1400px;
}

.health-contanitor {
  display: flex;
  align-items: center;
}

.left-health {
  width: calc(100% / 2);
  margin-right: 0px;
  text-align: center;

  >img {
    display: block;
    width: 85%;
    border-bottom-right-radius: 110px;
    position: relative;
    top: -50px;
  }

  >span {
    font-size: 70px;
    position: relative;
    top: -500px;
    left: -50px;
    background-color: white;
    border-radius: 70%;
    height: 50px;
  }
}

.right-health {
  width: 850px;
  margin-top: -50px;
  padding-right: 90px;
  text-align: start;

  >.tune {
    color: #4154FF;
    font-size: 20px;

  }

  >h4 {
    font-size: 50px;
    margin-top: 20px;
  }

  >.arcu {
    color: #858586;
    font-size: 20px;
    margin-bottom: 20px;
  }

  >button {
    background-color: red;
    color: white;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    border: none;
  }
}

.text-featured{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;

  > h5{
    font-size: 20px;
  }

  > p {
    padding-right: 50px;
    font-weight: bold;
  }
}



.wrap-featured {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

}

.featured-video {
  width: calc((100% / 3) - 40px);
  text-align: center;

  >img {
    display: block;
    width: 100%;
    border-bottom-right-radius: 50px;
  }

  > button{
    font-size: 40px;
    position: relative;
    bottom: 170px;
    
  }

  > p {
    color: #4154FF;
    padding-top: 20px; 
   }
}